@{
    ViewBag.Title = "Bienvenidos";
}

<main>
    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ¡Bienvenido a Experiencia Real!<br />
                Tu experiencia de descanso y confort comienza aquí. En Experiencia Real, nos dedicamos a ofrecerte más que una simple estancia: queremos que vivas una experiencia inolvidable. Ubicados en el corazón de [Ciudad/Ubicación], nuestros modernos y elegantes alojamientos están diseñados para satisfacer tus necesidades y superar tus expectativas.<br />
                Disfruta de nuestras cómodas habitaciones, equipadas con todas las comodidades modernas que necesitas para relajarte y recargar energías. Desde camas lujosas y sábanas suaves hasta servicios exclusivos como Wi-Fi de alta velocidad y una atención personalizada, todo está pensado para brindarte el máximo confort.<br />
                Explora nuestras instalaciones de primera clase, que incluyen un restaurante gourmet, un gimnasio completamente equipado y un spa de lujo, todo a tu disposición para que tu estancia sea aún más placentera. Además, nuestro amable personal está siempre listo para ayudarte con recomendaciones locales, reservas y cualquier solicitud especial que puedas tener.<br />
                Ya sea que nos visites por negocios o por placer, en Experiencia Real encontrarás el lugar perfecto para descansar, rejuvenecer y disfrutar. Haz tu reserva hoy mismo y déjanos ser parte de tus momentos más memorables en Barranquilla, Cali, Cartagena y nuestra hermosa capital Bogotá.<br />
                ¡Te esperamos con los brazos abiertos!
            </p>
            
        </section>       
    </div>
</main>